*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
}


#ForgetPassword-Section-Main-Parent{
    height: 100vh;
    background-image:url("../images/cube-geometry-gradient-4k-hd-abstract-shapes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#ForgetPassword-Section-Second_Parent{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#ForgetPassword-Section-Child{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#ForgetPassword-Form-Main-Parent{

    width: 100%;
}

#ForgetPassword-Form-Second-Parent{
    width: 100%;
}

#ForgetPassword-Form-Second-Parent form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ForgetPassword-Form-Second-Parentform label{
    font-size:1.2em;
    font-weight: 600;
}

#ForgetPassword-Form-Second-Parent form div{
    flex-direction: column;
}

#ForgetPassword-Email-icon{
    position: absolute;
    margin-left:80% ;
    font-size: 1.5em;
}

#ForgetPassword-Password-icon{
    position: absolute;
    margin-left:80% ;
    font-size: 1.6em;
}

#ForgetPassword-Form-Second-Parent form div input{
    width:100%;
    padding:0.5em ;   
    
}
#ForgetPassword-Form-Second-Parent form div input:focus{
    border: solid rgb(97, 56, 116); 
    outline: none;  
}

#ForgetPassword-Top-Icon-Parent{
    font-size: 4em;
    background-color: rgb(97, 56, 116);
    width: 100px;
    margin: 20px auto ;
    border-radius: 5em;
}

#ForgetPassword-Heading{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size:1.5em;
}

#ForgetPassword-Top-Line{

    border-top: 2px solid black;
    width: 25%;
}

#ForgetPassword-bottom-line{
    border-top: 2px solid black;
    width: 25%;
}

#ForgetPassword_heading-Main-Parent{

    display: flex;
    justify-content: center;
    align-items: center;
}

#ForgetPassword-button button{
    padding: 0.7em ;
    width: 30vw;
    font-size: 1.2em;
    border-radius: 1em;
    background-color: black;
    color: white;
    margin-bottom: 1em ;
    border:rgb(240, 58, 58);
    outline: none;
}

#ForgetPassword-button button:hover{
    color: black;
    background-image: linear-gradient(to right, white, rgb(97, 56, 116));
    box-shadow: rgba(68, 44, 80, 0.85) -2px 6px 4px ;
}

#FogetPassword-input-parent{
    position: relative;
}

#Forget-password-Login-Link-Parent p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: black;
}

@media screen and (min-width:300px) and (max-width:500px) {
    #ForgetPassword-button button{
        padding: 0.5em ;
        width:300px;
        font-size:1.2em;
        margin-bottom: 1vw ;
}
#ForgetPassword-Heading{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size:1.2em;
}

}